# DATA 271 Practice Midterm 2

In this practice midterm, we will perform an exploratory data analysis on a rollercoaster dataset. Follow the steps below to perform your EDA.

The actual midterm will also involve an exploratory data analysis.

**Problem 0:** Import the required modules for this EDA. You will need, Numpy, Pandas, Matplotlib, Seaborn, and re. Feel free to use this cell to set the style and/or runtime configuration parameters for your Seaborn plots if you want to.

## 1. Import the data and begin exploration

**Problem 1.1:** Import the `rollercoasters.csv` file (already in your working directory) as a Pandas DataFrame.

In [ ]:
df = ...

**Problem 1.2:** How many rows and columns are in your dataframe?

In [ ]:
num_rows = ...
num_cols = ...
num_rows, num_cols

**Problem 1.3**: Begin with an initial inspection of your dataframe. What are the column names? How many null values are in each column? What is the datatype of each column? 

*HINT* Feel free to use a single Pandas method get this information, or use several if you prefer that.

## 2. Begin Data Cleaning

**Problem 2.1**: The current column names are not in a standardized format. Rename the columns so they are all in the form `lowercase_with_underscores`. 

*HINT:* When you are done, there should not be any special characters such as dashes or slashes.

**Problem 2.2:** Create a copy of your dataframe called `df_copy`, so that the original data will be accessible even after we make changes.

In [ ]:
df_copy = ...

**Problem 2.3:** Some columns have many null values. Drop all the columns from the dataframe `df` that have more than 250 null values.

**Problem 2.4** How many columns are left in the dataframe after dropping the columns with more than 250 null values?

In [ ]:
new_num_cols = ...
new_num_cols

**Problem 2.5** Visualize the number of null values in each column with a heatmap.

**Problem 2.6** Inpsect the `height` column of the dataset. We want to extract the height in feet (ft) from the column. Create a new column called `height_ft` in your `df` DataFrame containing the heights in feet. Do not convert any data types; leave them as strings.

*HINT:* You may want to use regular expression for this problem. Note that some of the heights are shown in whole numbers and some of them include digits past a decimal. Be sure to include decimals if they are available. Any NaNs should remain NaN in your new column.

In [ ]:
# inspect height column

In [ ]:
df['height_ft'] = ...

**Problem 2.7** Inpsect the `speed` column of the dataset. We want to extract the speed in miles per hour (mph) from the column. Create a new column called `speed_mph` in your `df` DataFrame containing the speed in miles per hour. Do not convert any data types; leave them as strings.

HINT: You may want to use regular expression for this problem.

In [ ]:
df['speed_mph'] = ...

**Problem 2.8** Inpsect the `length` column of the dataset. We want to extract the length in feet (ft_ from the column. Create a new column called `length_ft` in your `df` DataFrame containing the length in feet. Do not convert any data types; leave them as strings.

HINT: You may want to use regular expression for this problem. Note that some of the lengths include a comma. You will need to account for that in your regular expression, but do not include the comma in your final `length_ft` column.

In [ ]:
df['length_ft'] = ...

**Problem 2.9** Are there any duplicates in the `coaster_name` column? If there are, remove any rows that have a duplicate `coaster_name` column.

In [ ]:
num_duplicate_coasters = ...
num_duplicate_coasters

In [ ]:
# drop duplicate coaster names

**Problem 2.10** Use a Pandas method to get summary statistics for each numeric variable in the dataset.

## 3. Visualize

**Problem 3.1** In the following three cells, there is a problem with the data visualizations identify what the problems are and make the necessary changes to the data to get the proper plots.

In [ ]:
# Visualize the relationship between length and height of rollercoasters
sns.scatterplot(data = df, x = 'length_ft',y='height_ft')
plt.show()

In [ ]:
# Visualize the relationship between speed and height of rollercoasters and their distributions
sns.jointplot(data = df, x = 'speed_mph',y='height_ft')
plt.show()

In [ ]:
# Visualize the trend in speed of rollercoasters over time
sns.lineplot(data = df, x = 'opening_date',y = 'speed_mph')
plt.show()

In [ ]:
# Make necessary changes here

In [ ]:
# REDO: Visualize the relationship between length and height of rollercoasters

In [ ]:
# REDO: Visualize the relationship between speed and height of rollercoasters and their distributions

In [ ]:
# REDO: Visualize the trend in speed of rollercoasters over time

**Problem 3.2** The plot above showing the trend in speed vs time is a little messy. Let's look at the general relationship instead. Plot the relationship between `speed_mph` and `year_intoduced` (points) and show a regression line. Is it a positive correlation or a negative correlation?

*Type your answer replacing this text.*

**Problem 3.3** Plot the correlation between all the numeric variables with a heatmap. (Be sure to annotate your heatmap with the correlation coefficients). Comment on what you see.

*Type your answer replacing this text.*

**Problem 3.4:** Visualize the relationship between the numeric variables with a Seaborn pairpplot. Comment on what you see.

*Type your answer replacing this text.*

**Problem 3.5** Visualize the number of rollercoasters of each `type_main`. What is the most common type of rollercoaster?

*Type your answer replacing this text.*

**Problem 3.5** Visualize the distribution of rollercoaster speeds (mph).

**Problem 3.6:** Visualize the smoothed distribution (KDE) of rollercoaster speeds (mph) for each `type_main` (either map it to color or facet by it). Are there any major differences in speed distributions across rollercoaster type?

*Type your answer replacing this text.*

**Problem 3.7:** Visualize the smoothed distribution of rollercoaster speeds (mph) for each `type_main` AND the 5 number summary (min, 1st quartile, median, 3rd quartile, max).

*HINT:* Which type of plot is a combination of a boxplot and a KDE?

**Problem 3.7:** Create a data visualization to determine if there are any outliers in the numeric variables. Which variables have outliers?

*Type your answer replacing this text.*

**Problem 3.8** Sort your data frame from fastest rollercoaster to slowest roller coaster. Then create a visualization showing the speed and the rollarcoaster name of the fastest 20 rollercoasters in the dataset.

In [ ]:
df_sorted = ...

In [ ]:
# Visualization here

**Problem 3.9:** Use pandas methods and data visualization to show how many rollercoasters were introduced in each year.

In [ ]:
# Pandas methods

In [ ]:
# Visualization

**Problem 3.10:** Create 3 subplots showing the relationships of speed vs year introduced, speed vs height, and speed vs length.

## 4. Your exploration

**Problem 4.1** Create a question about this dataset and use a data visualization to begin answering this question. Explain your thought process.